#adminmenu .wp-menu-image img {
    padding: 9px 0 0;
    opacity: .6;
	width: 20px;
}

.inputMaxWidth{
    max-width: 200px !important;
    width: 100%;
}

label.label-min{
    font-size: .8rem;
}

.w-20{
    width: 20% !important;
}

.w-30{
    width: 30% !important;
}
.w-45{
    width: 45% !important;
}